.code-editor {
    justify-content: center;
    height: 100%;
    padding: 1rem;
    flex: 1 1 auto;
    border: 1px dotted #000;
}

.ce-textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    resize: none;
    border: 1px solid #ccc;
}

.cm-editor {
    height: 100%;
}